{% load humanize %}
{% load data_extras %}

{% if summary %}
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Confirmed</p>
        <p class="title">{{ summary.confirmed|intcomma|intword }}</p>
        <u title="Today's growth">+{{ summary.get_increase_data.confirmed|intcomma|intword }}</u>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Recovered</p>
        <p class="title">{{ summary.recovered|intcomma|intword }}
          <span class="has-text-grey-dark">
            ({{ summary.recovered|as_percentage_of:summary.confirmed }})
            </span>
        </p>
        <u title="Today's growth">+{{ summary.get_increase_data.recovered|intcomma|intword }}</u>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Deaths</p>
        <p class="title has-text-grey-light">
          {{ summary.deaths|intcomma|intword }}
          <span class="has-text-grey-light">
            ({{ summary.deaths|as_percentage_of:summary.confirmed }})
            </span>
        </p>
        <u title="Today's growth" class="has-text-grey-light">+{{ summary.get_increase_data.deaths|intcomma|intword }}</u>
      </div>
    </div>
  </nav>
  <progress class="progress is-success" value="{{ summary.recovered }}"
            max="{{ summary.confirmed }}">{% widthratio summary.recovered summary.confirmed 100 %}%
  </progress>
{% else %}
  <div class="content has-text-centered">
    <p>No data to display.</p>
  </div>
{% endif %}
