<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>COVID-19</title>
  <style>
    html {
      background-color: hsl(40, 95%, 50%);
      font: 20px/30px body, sans-serif;
      position: relative;
      min-height: 100%;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    footer {
      font-size: 16px;
      position: fixed;
      bottom: 0;
      text-align: center;
      width: 100%;
    }
  </style>
</head>
<body>
<div>
  <h1>COVID-19 cases</h1>
  Confirmed: {{ confirmed }}
  <br/>
  Deaths: {{ deaths }}
  <br/>
  Recovered: {{ recovered }}
</div>
{#<footer class="footer">(c) amureki</footer>#}
<footer>Based on <a href="https://systems.jhu.edu/research/public-health/ncov/" target="_blank">Johns Hopkins CSSE
  data</a></footer>
</body>
</html>
