<script>
  var canvas = document.getElementById("barChart");
  var ctx = canvas.getContext('2d');
  var data = {
    labels: {{ timeline.dates_series|safe }},
    datasets: [
      {
        label: "Confirmed",
        data: {{ timeline.confirmed_series|safe }},
        fill: false,
        borderColor: "rgb(105,105,105)",
        backgroundColor: "rgb(105,105,105)",
        pointHoverBackgroundColor: "rgb(255,255,255)",
        pointRadius: 3.5,
      },
      {
        label: "Deaths",
        data: {{ timeline.deaths_series|safe }},
        fill: false,
        borderColor: "rgb(200,100,100)",
        backgroundColor: "rgb(200,100,100)",
        pointHoverBackgroundColor: "rgb(255,255,255)",
        pointRadius: 3.5,
      },
      {
        label: "Recovered",
        data: {{ timeline.recovered_series|safe }},
        fill: false,
        borderColor: "rgb(100,200,100)",
        backgroundColor: "rgb(100,200,100)",
        pointHoverBackgroundColor: "rgb(255,255,255)",
        pointRadius: 3.5,
      }
    ]
  };
  const formatNumbers = n => {
    if (n < 1e3) return n;
    if (n >= 1e3) return +(n / 1e3).toFixed(1) + "K";
  };
  var options = {
    legend: {labels: {boxWidth: 30}},
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true
    },
    maintainAspectRatio: false,
    scales: {
      y: {
        beginAtZero: true,
        {#type: 'logarithmic',#}
        ticks: {
          maxTicksLimit: 8,
          callback: function(value, index, values) {
            return formatNumbers(value);
          }
        }
      },
      x: {
        ticks: {
          maxTicksLimit: 20,
        }
      },
    }
  };

  var BarChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
  });
</script>
