{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <h1 class="title has-text-centered">Country statistics</h1>

  {% if countries %}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Deaths</th>
        <th scope="col">Recovered</th>
      </tr>
      </thead>
      <tbody>
      {% for country in countries %}
        <tr>
          <th scope="row">{{ country.region }}</th>
          <td>{{ country.confirmed|intcomma|intword }}</td>
          <td>{{ country.deaths|intcomma|intword }}</td>
          <td>{{ country.recovered|intcomma|intword }} ({% widthratio country.recovered country.confirmed 100 %}%)</td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <th>Country</th>
        <th>Confirmed</th>
        <th>Deaths</th>
        <th>Recovered</th>
      </tr>
      </tfoot>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
      {% else %}
        <a class="pagination-previous" disabled>Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next page</a>
      {% else %}
        <a class="pagination-next" disabled>Next page</a>
      {% endif %}
      <ul class="pagination-list">
        {% for page_num in page_obj.paginator.page_range %}
          <li>
            <a href="?page={{ page_num }}"
               class="pagination-link {% if page_num == page_obj.number %}is-current{% endif %}"
               aria-label="Page {{ page_num }}" aria-current="page">{{ page_num }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    <div class="content has-text-centered">
      <p>No data to display.</p>
    </div>
  {% endif %}
{% endblock content %}
