{% extends 'base.html' %}
{% load humanize %}
{% load data_extras %}

{% block content %}
  <h1 class="title has-text-centered">Regions</h1>

  {% if regions %}
    <div class="table-container">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
          <th scope="col">Region</th>
          <th scope="col">Confirmed</th>
          <th scope="col">Recovered</th>
          <th scope="col">Deaths</th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions %}
          <tr>
            <th scope="row"><a href="{% url 'region' region.region_slug %}">{{ region.region }}</a></th>
            <td>{{ region.confirmed|default_if_none:"No data"|intcomma|intword }}</td>
            <td>{{ region.recovered|default_if_none:"No data"|intcomma|intword }}
              <span class="has-text-weight-light">
                ({{ region.recovered|as_percentage_of:region.confirmed }})
              </span>
            </td>
            <td class="has-text-grey-light">{{ region.deaths|intcomma|intword }}
              <span class="has-text-weight-light">
                ({{ region.deaths|as_percentage_of:region.confirmed }})
              </span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>Region</th>
          <th>Confirmed</th>
          <th>Deaths</th>
          <th>Recovered</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
      {% else %}
        <a class="pagination-previous" disabled>Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next page</a>
      {% else %}
        <a class="pagination-next" disabled>Next page</a>
      {% endif %}
      <ul class="pagination-list">
        {% for page_num in page_obj.paginator.page_range %}
          <li>
            <a href="?page={{ page_num }}"
               class="pagination-link {% if page_num == page_obj.number %}is-current{% endif %}"
               aria-label="Page {{ page_num }}" aria-current="page">{{ page_num }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    <div class="content has-text-centered">
      <p>No data to display.</p>
    </div>
  {% endif %}
{% endblock content %}
