{% extends 'base.html' %}

{% block content %}
  <h1 class="title has-text-centered">{{ region.region }}</h1>

  {% include '_stats_widget.html' with summary=region %}

  {% if timeline %}
    {% include 'chart_html.html' %}
  {% endif %}

  <div class="content has-text-centered">
    <a class="button is-link" href="{% url 'regions' %}">Back</a>
  </div>
{% endblock content %}

{% block extrafooter %}
  {% if timeline %}
    {% include 'chart_javascript.html' %}
  {% endif %}
{% endblock extrafooter %}
