{% extends 'base.html' %}

{% block content %}
  <h1 class="title has-text-centered">Support creator</h1>

  <div class="content has-text-centered">
    <p>If you like using this website (costs roughly <b>€9 per month</b>), please consider supporting my work.</p>

    - <a href="https://github.com/sponsors/amureki" rel="noopener" target="_blank">GitHub sponsorship</a><br/>
    - <a href="https://www.patreon.com/amureki" rel="noopener" target="_blank">Pateron</a><br/>
    - <a href="https://money.yandex.ru/to/41001306856093/350" rel="noopener" target="_blank">Yandex.Money (visa/mastercard)</a><br/>
    - <a href="https://www.tinkoff.ru/sl/4zpcWZ6YOvf" rel="noopener" target="_blank">Tinkoff</a>
  </div>

{% endblock content %}
